.masthead {
  position: relative;
  border-bottom: 1px solid #f2f3f3;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
}

.masthead__inner-wrap {
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding: 1em 1em 1em;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

.greedy-nav {
  position: relative;
  min-width: 250px;
  background: #fff;
}

.masthead__menu ul {
  margin: 0;
  padding: 0;
  clear: both;
  list-style-type: none;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  padding: 32px;
}

.masthead__menu-item--lg {
  padding-right: 2em;
  font-weight: 700;
}

.masthead__inner-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.masthead__inner-wrap::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 80em) {
  .masthead__inner-wrap {
    max-width: 1280px;
  }
}

.masthead__inner-wrap nav {
  z-index: 10;
}

.masthead__inner-wrap a {
  text-decoration: none;
  color: #333;
}

.greedy-nav .visible-links {
  display: table;
}

.greedy-nav .visible-links li {
  display: table-cell;
  vertical-align: middle;
}

.greedy-nav .visible-links li:first-child {
  font-weight: bold;
}

.greedy-nav .visible-links li:first-child a {
  margin-left: 0;
}

.greedy-nav .visible-links li:last-child a {
  margin-right: 0;
}

.greedy-nav .visible-links a {
  position: relative;
}

.greedy-nav .visible-links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background: #bdc1c4;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.greedy-nav .visible-links a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
